
.bottom{
    background-color:rgb(100, 240, 95);
    align-items: center;
    margin: 10%;
    width: 65%;
}
.container{
    background-color: rgb(19, 44, 233);
    align-items: center;
    margin: 10%;
    width: 70%;
}


